<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
    <style>
    body{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("https://img.freepik.com/premium-vector/vertical-background-with-smooth-gradient-vector-illustration_522680-306.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
</head>
<body>
<div class="container bg-white" style="width:50%" >
    <p>Hello <b><%= @resource.email %>!</b></p>

    <p>Someone has requested a link to change your password. You can do this through the link below.</p>
    
    <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), class:"btn btn-success btn-sm" %></p>
    
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p> 
</div>
</body>
</html>


